.formMain{
  width: 30%;
  margin: 9% auto;
}
.formMain b{
  color: coral;
  margin-left: 5px;
}

.formMainreg{
  width: 30%;
  margin: 5% auto;
}
.formMainreg b{
  color:palevioletred;
  margin-left: 5px;
}
.btags b{
  color: white;
}
.image{
  height: 92vh;
  width: 100%;
  background-image: url(https://wallpapers.com/images/hd/housekeeper-carrying-cleaning-tools-2be7p8p66oyoo68t.jpg);
  background-size: cover;
}
#a1{
  
  text-align: left;
  padding: 200px 200px;
  
}