#b1 {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  /* box-shadow: 2px 5px 10px #999; */
 
}
/* .App{
  background-color: rgb(78, 115, 126);
} */          
#d1{  
  /* background-color: dodgerblue; */
  /* background:linear-gradient(red,skyblue) ; */
  background-color: antiquewhite;
 box-shadow:3px 5px 10px;
}
#a1{
  background-color:lightgray;
  box-shadow:3px 5px 10px;
}
#r1{
  width: 150px;
  height: 150px;
  border-radius: 30%;
  justify-content: center;
  /* background-color:; */
}
#t1{
  /* background-color:lightsalmon; */
  box-shadow:3px 5px 10px crimson;
}




