
#d1{
  background-color: aqua;
  width: 230px;
  height: 30px;
}
#a1{
  background-color: bisque;
}
#a2{
  background-color: coral;
}
#a3{
  background-color: burlywood;
}
#a4{
  background-color: chartreuse;
  height: 30px;
  
}
#a5{
  background-color:;
}
