.mybox{
  padding: 10px;
  margin: 10px;
   border: 2px solid;
   border-radius: 10px;

}
#dd,#de{
  display: non;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 2px solid;
  background-color: chocolate;
  padding: 20px;
}
